 body {
     font-family: "Poppins", sans-serif;
     background: linear-gradient(135deg, #3d224c, #601a86);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     padding: 0;
 }
 
 .container {
     background: white;
     padding: 30px;
     border-radius: 20px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
     width: 360px;
     text-align: center;
     background: linear-gradient(135deg, #e9a620, #c8890c8b);
 }
 
 h2 {
     color: #333;
     margin-bottom: 20px;
 }
 
 input[type="file"],
 input[type="number"] {
     width: 100%;
     margin: 10px 0;
     padding: 10px;
     border: 2px solid #000000;
     border-radius: 10px;
     outline: none;
     font-size: 15px;
 }
 
 input[type="number"]:focus,
 input[type="file"]:focus {
     border-color: #66a6ff;
 }
 
 button {
     background: #edd500c1;
     color: white;
     border: none;
     padding: 12px 20px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
     margin-top: 10px;
     transition: 0.3s;
 }
 
 button:hover {
     background: #efe055;
 }
 
 .output {
     margin-top: 20px;
     color: #333;
     font-weight: 500;
 }
 
 img#preview {
     width: 100%;
     border-radius: 10px;
     margin-top: 15px;
     display: none;
 }